@CHARSET "UTF-8";

body{
				background-color: #00BFFF;
			}
	.ra{
		
		left: 5%;
		bottom: 60%;
		position: relative;
		margin-top: 25%;

	}
	.button{
		
		left: 70%;
		bottom: 10%;
		position: absolute;
		margin-top: 25%; 	
	}
	.container{
         
        background-color: white;
        left: 20%;
        width: 700px;
    	height: 400px;    
    	padding: 10px;
    	border: 4px solid black;
    	position: relative;
    	margin-top: 10%;
		

    	}
	.input{
			position:absolute;
			top:70px;
			left:185px;
			width:23px;
			height:23px;
	}
