@CHARSET "UTF-8";

body{
	background-color: #00BFFF;
}


.info{
	position: fixed;
	left: 25%;
	bottom: 50%;

}


.container{
	 
	background-color: white;
	left: 20%;
	width: 700px;
	height: 400px;
	padding: 10px;
	border: 4px solid black;
	
	position: relative;
	margin-top: 10%;
	overflow:scroll;
}

.devo {
	left: 85%;
	bottom: 57%;
	position: relative;
	margin-top: 40%;
}
.Menu {
	left: 20%;
	top: 10%;
	position: absolute;
}